@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Style+Script&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}
.active {
  @apply text-designColor outline-none;
}

.osama .active {
  @apply rounded-lg border-[2px] outline-none border-designColor dark:border-[1px] dark:border-opacity-95;
}

.card {
  @apply h-[30rem] w-[30rem] rounded shadow-shadowOne;
}
.socialIcons {
  @apply flex h-12 w-12 items-center justify-center rounded-md text-xl text-gray-500 shadow-shadowTwo hover:cursor-pointer hover:bg-opacity-40 dark:bg-black dark:bg-opacity-25 dark:text-gray-200 dark:shadow-shadowOne sm:h-16 sm:w-16;
}

.scrollBar-hide::-webkit-scrollbar {
  display: none;
}

.resume-nav {
  @apply flex h-12  items-center justify-center rounded-lg border-[2px] border-transparent text-lg font-medium capitalize transition-all duration-300 hover:text-colorHover outline-none focus:ring-0 focus:ring-designColor sm:h-24 md:text-2xl;
}

.contactInput {
  @apply h-12 rounded-lg border-gray-700 bg-gray-200 p-4 text-gray-500 shadow-shadowTwo outline-none outline-offset-2 focus-visible:border-b-transparent focus-visible:outline-designColor dark:border-b-[1px] dark:bg-[#191b1e] dark:text-lightText dark:shadow-none;
}

.contactLabel {
  @apply text-sm font-medium uppercase text-gray-500 dark:font-normal dark:text-gray-400;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.blog-content {
  @apply mt-16 px-2 md:px-0;
}
.blog-content h1 {
  @apply text-3xl font-semibold;
}
.blog-content h2 {
  @apply text-2xl font-semibold;
}
.blog-content h3 {
  @apply text-xl font-semibold;
}
.blog-content p {
  @apply text-sm text-gray-500 dark:text-gray-200 sm:text-lg;
}
.blog-content img {
  @apply w-[85%] sm:w-[70%];
}

.blog-content ul,
ol {
  @apply list-decimal;
}
.blog-content a {
  @apply line-clamp-1 text-sky-500 hover:underline sm:line-clamp-5 sm:text-lg;
}
